.feed-container {
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    margin-top: 2px;

}

.dream-container {
    background-color: aqua;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}